@import "all.css";

.nav_item_news{
    background: var(--verde_oscuro);
    border-bottom: 3px solid white;
}

        .section{
            display: flex;
            flex-direction: column;
            margin-top: 45px;
        }

            .reports{
                display: flex;
                flex-direction: column;
                background: white;
                height:160px;
                margin-top: 2px;
            }

                .reports_header {
                    height: 38px;
                    margin-left: 10px;
                    display: flex;
                    align-items: center;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-weight: 800;
                    font-size: 14px;
                    color: var(--azul_oscuro);

                }

                .reports_container{
                    display: flex;
                    flex-wrap: nowrap;
                }

                    .report{
                        background: var(--gris_claro);
                        height: 115px;
                        width: 95px;
                        margin-left: 7px;
                        margin-bottom: 11px;
                        border-radius: 15px;
                    }

                        .logo{
                            color: white;
                            background: white;
                            margin: 7px;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 4px solid rgb(253, 77, 77);
                        }

                        .icon_report{
                                color: var(--color3);
                                font-size: 25px;
                            }

                        .mdi-plus{
                            color: red;
                        }
                        
            
            .news{
                display: flex;
                flex-direction:column;
            }
                .new{
                    /* height:185px; */
                    height: 250px;
                    background: white;
                    display: flex;
                }