@import "all.css";

.nav_item_menu{
    background: var(--verde_oscuro);
    border-bottom: 3px solid white;
}

        .section{
            display: flex;
            flex-direction: column;
            margin-top: 45px;
        }   

            .menu{
                display: flex;
                flex-direction: column;
                background: white;
                height:40px;
                margin-top: 2px;
            }   
                .menu_header {
                    height: 38px;
                    margin-left: 10px;
                    display: flex;
                    align-items: center;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-weight: 800;
                    font-size: 14px;
                    color: var(--azul_oscuro);  
                }